<div id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
      <div class="container">
        <div class="navbar-brand-wrapper d-flex w-100">
          <img src="assets/img/landing/Group2.svg" alt="" />
          <button
            class="navbar-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="mdi mdi-menu navbar-toggler-icon"></span>
          </button>
        </div>
        <div
          class="collapse navbar-collapse navbar-menu-wrapper"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
            <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
              <div class="navbar-collapse-logo">
                <img src="assets/img/landing/Group2.svg" alt="" />
              </div>
              <button
                class="navbar-toggler close-button"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#header-section">
                Inicio<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features-section">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#digital-marketing-section">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#feedback-section">Testimonios</a>
            </li>
            <li class="nav-item btn-contact-us pl-4 pl-lg-0">
              <button 
                class="btn btn-info"
                routerLinkActive="active" [routerLink]="['/login']"
                >
                Iniciar Sesión
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="banner">
    <div class="container">
      <h1 class="font-weight-semibold">
        Bienvenidos a MoneyUCAB
      </h1>
      <h6 class="font-weight-normal text-muted pb-3">
        ¡El único monedero virtual universitario del mundo!
      </h6>
      <div>
        <button class="btn btn-opacity-light mr-1" routerLinkActive="active" [routerLink]="['/register']">Registrarme</button>
        <button class="btn btn-opacity-success ml-1" routerLinkActive="active" [routerLink]="['/login']">Iniciar Sesión</button>
      </div>
      <img src="assets/img/landing/Group171.svg" alt="" class="img-fluid" />
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section">
        <div class="content-header">
          <h2>¿Cómo funciona?</h2>
          <h6 class="section-subtitle text-muted">
            La plataforma MoneyUCAB está compuesta por tres aplicaciones:<br />that
            el Portal Web, el Monedero Virtual y el Post Virtual.
          </h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              <img
                src="assets/img/landing/Group12.svg"
                alt=""
                class="img-icons"
              />
              <h5 class="py-3">MoneyUCAB<br />Portal Web</h5>
              <p class="text-muted">
                Recarga el saldo de tu monedero virtual, visualiza el 
                estado de tus operaciones y configura los datos de tu cuenta.
              </p>
              <a href="javascript:void(0)"><p class="readmore-link">Conocer más</p></a>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              <img
                src="assets/img/landing/Group7.svg"
                alt=""
                class="img-icons"
              />
              <h5 class="py-3">MoneyUCAB<br />Monedero Virtual</h5>
              <p class="text-muted">
                Realiza pagos a tus comercios más frecuentes y a otras personas afiliadas 
                a la plataforma MoneyUCAB. Maneja tus pagos y solicita reintegros.
              </p>
              <a href="javascript:void(0)"><p class="readmore-link">Conocer más</p></a>
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
              <img
                src="assets/img/landing/Group5.svg"
                alt=""
                class="img-icons"
              />
              <h5 class="py-3">MoneyUCAB<br />Post Virtual</h5>
              <p class="text-muted">
                Enfocado para comercios y empresas. Realiza cierres de caja al 
                finalizar la jornada, visualiza tus operaciones y muchas más.
              </p>
              <a href="javascript:void(0)"><p class="readmore-link">Conocer más</p></a>
            </div>
          </div>
        </div>
      </section>
      <section class="digital-marketing-service" id="digital-marketing-section">
        <div class="row align-items-center">
          <div
            class="col-12 col-lg-7 grid-margin grid-margin-lg-0"
            data-aos="fade-right"
          >
            <h3 class="m-0">
              ¡Ofrecemos una amplia gama de<br /> servicios financieros digitales!
            </h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">
                Nuestros servicios nos distinguen de la competencia por ser 
                innovadores, rápidos y sencillos.
              </p>
              <p class="font-weight-medium text-muted">
                Nos adaptamos a las necesidades de nuestros clientes, ofreciendo 
                seguridad y portabilidad.
              </p>
            </div>
          </div>
          <div
            class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0"
            data-aos="fade-left"
          >
            <img src="assets/img/landing/Group1.png" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="row align-items-center">
          <div
            class="col-12 col-lg-7 text-center flex-item grid-margin"
            data-aos="fade-right"
          >
            <img src="assets/img/landing/Group2.png" alt="" class="img-fluid" />
          </div>
          <div
            class="col-12 col-lg-5 flex-item grid-margin"
            data-aos="fade-left"
          >
            <h3 class="m-0">
              ¡Servicio digital líder<br /> en soluciones de financieras!
            </h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">
                Reforzada con opciones impresionantes y optimizadas, esta 
                aplicación está diseñada para proveer el mejor rendimiento bajo 
                cualquier circunstancia.
              </p>
              <p class="pb-2 font-weight-medium text-muted">
                Nuestras funcionalidades inteligentes nos convierten en una 
                herramienta robusta de negocios.
              </p>
            </div>
            <button class="btn btn-info">Conocer más</button>
          </div>
        </div>
      </section>
      <section class="case-studies" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>Nuestros servicios</h2>
            <h6 class="section-subtitle text-muted">
              MoneyUCAB ofrece los mejores servicios de la banca virtual con los mayores estándares de calidad en Venezuela
            </h6>
          </div>
          <div
            class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
            data-aos="zoom-in"
          >
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-primary text-center card-contents">
                  <div class="card-image">
                    <img
                      src="assets/img/landing/Group95.svg"
                      class="case-studies-card-img"
                      alt=""
                    />
                  </div>
                  <div
                    class="card-desc-box d-flex align-items-center justify-content-around"
                  >
                    <div>
                      <h6 class="text-white pb-2 px-3">
                        Conoce cómo enviar y recibir pagos de todas partes
                      </h6>
                      <button class="btn btn-white">Ver detalles</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">Envía y recibe pagos</h6>
                  <p>Sin largos tiempos de espera</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-warning text-center card-contents">
                  <div class="card-image">
                    <img
                      src="assets/img/landing/Group108.svg"
                      class="case-studies-card-img"
                      alt=""
                    />
                  </div>
                  <div
                    class="card-desc-box d-flex align-items-center justify-content-around"
                  >
                    <div>
                      <h6 class="text-white pb-2 px-3">
                        Cónoce cómo recargar tu saldo desde nuestros bancos afiliados
                      </h6>
                      <button class="btn btn-white">Ver detalles</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">Recargas instantáneas</h6>
                  <p>Desde tu tarjeta de crédito, débito o cuenta bancaria</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0"
            data-aos="zoom-in"
            data-aos-delay="400"
          >
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                    <img
                      src="assets/img/landing/Group126.svg"
                      class="case-studies-card-img"
                      alt=""
                    />
                  </div>
                  <div
                    class="card-desc-box d-flex align-items-center justify-content-around"
                  >
                    <div>
                      <h6 class="text-white pb-2 px-3">
                        Conoce cómo MoneyUCAB protege tu dinero
                      </h6>
                      <button class="btn btn-white">Ver detalles</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">Bloqueo de operaciones</h6>
                  <p>Protección ante robos y estafas</p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-md-6 col-lg-3 stretch-card"
            data-aos="zoom-in"
            data-aos-delay="600"
          >
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-success text-center card-contents">
                  <div class="card-image">
                    <img
                      src="assets/img/landing/Group115.svg"
                      class="case-studies-card-img"
                      alt=""
                    />
                  </div>
                  <div
                    class="card-desc-box d-flex align-items-center justify-content-around"
                  >
                    <div>
                      <h6 class="text-white pb-2 px-3">
                        Conoce acerca de nuestros métodos de reintegro
                      </h6>
                      <button class="btn btn-white">Ver detalles</button>
                    </div>
                  </div>
                </div>
                <div class="card-details text-center pt-4">
                  <h6 class="m-0 pb-1">Reintegro de pagos</h6>
                  <p>Mediación entre clientes y comercios</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>Testimonios de nuestros clientes</h2>
            <h6 class="section-subtitle text-muted m-0">
              MoneyUCAB es utilizado por organizaciones multinacionales e individuos de renombre en el mercado.
            </h6>
          </div>
          <div class="owl-carousel owl-theme grid-margin">
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face2.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Tony Martinez</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face3.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Sophia Armstrong</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face20.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Cody Lambert</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face15.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Cody Lambert</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face16.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Cody Lambert</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face1.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Tony Martinez</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face2.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Tony Martinez</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face3.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Sophia Armstrong</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
            <div class="card customer-cards">
              <div class="card-body">
                <div class="text-center">
                  <img
                    src="assets/img/landing/face20.jpg"
                    width="89"
                    height="89"
                    alt=""
                    class="img-customer"
                  />
                  <p class="m-0 py-3 text-muted">
                    Lorem ipsum dolor sit amet, tincidunt vestibulum. Fusce
                    egeabus consectetuer turpis, suspendisse.
                  </p>
                  <div class="content-divider m-auto"></div>
                  <h6 class="card-title pt-3">Cody Lambert</h6>
                  <h6 class="customer-designation text-muted m-0">
                    Marketing Manager
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin">
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">
              ¿Tienes un reclamo o sugerencia?
            </h4>
            <h4 class="pt-1" data-aos="fade-down">Contáctanos</h4>
          </div>
          <div data-aos="fade-up">
            <button 
              class="btn btn-rounded btn-outline-danger"
              data-toggle="modal"
              data-target="#exampleModal"
              >
              Contáctanos
            </button>
          </div>
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="assets/img/landing/Group2.svg" alt="" class="pb-2" />
            <div class="pt-2">
              <p class="text-muted m-0">moneyucab@gmail.com</p>
              <p class="text-muted m-0">0800-MONEYUCAB</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Infórmate</h5>
            <p class="text-muted">
              Mantente informado sobre nuestros servicios y
              promociones
            </p>
            <form>
              <input
                type="text"
                class="form-control"
                id="Email"
                placeholder="Correo electrónico"
              />
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Suscribirme</button>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Regulaciones</h5>
            <a href="javascript:void(0)"><p class="m-0 pb-2">Términos y Condiciones</p></a>
            <a href="javascript:void(0)"><p class="m-0 pt-1 pb-2">Política de Privacidad</p></a>
            <a href="javascript:void(0)"><p class="m-0 pt-1 pb-2">Política de Cookies</p></a>
            <a href="javascript:void(0)"><p class="m-0 pt-1">Descubre</p></a>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Ubicación</h5>
            <p class="text-muted">Avenida Teherán, Urb. Montalbán<br />Caracas 1020</p>
            <div class="d-flex justify-content-center justify-content-md-start">
              <a href="javascript:void(0)"><span class="mdi mdi-facebook"></span></a>
              <a href="javascript:void(0)"><span class="mdi mdi-twitter"></span></a>
              <a href="javascript:void(0)"><span class="mdi mdi-instagram"></span></a>
              <a href="javascript:void(0)"><span class="mdi mdi-linkedin"></span></a>
            </div>
          </div>
        </div>
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">
          Copyright © 2020<a href="javascript:void(0)" class="px-1"> Empresa B - Grupo 6</a> Todos
          los derechos reservados.
        </p>
      </footer>
      <!-- Modal for Contact Us Button -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Contáctanos</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="Name">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="Name"
                    placeholder="Nombre"
                  />
                </div>
                <div class="form-group">
                  <label for="Email">Correo electrónico</label>
                  <input
                    type="email"
                    class="form-control"
                    id="Email-1"
                    placeholder="Correo electrónico"
                  />
                </div>
                <div class="form-group">
                  <label for="Message">Mensaje</label>
                  <textarea
                    class="form-control"
                    id="Message"
                    placeholder="Escriba su mensaje"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">
                Cerrar
              </button>
              <button type="button" class="btn btn-success">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
