.card.card-stats.mb-4.mb-xl-3 {
    &:hover {
        box-shadow: 0px 0px 8px 2px black;
        cursor: pointer;
    }
}

.selected {
    box-shadow: 0px 0px 8px 2px rgb(162, 182, 49);
    &:hover {
        box-shadow: 0px 0px 8px 2px rgb(162, 182, 49);
        cursor: pointer;
    }
}