<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row justify-content-center">
          <!-- Saldo Monedero Card -->
          <div class="col-xl-5 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Saldo Disponible</h5>
                    <span class="h2 font-weight-bold mb-0">{{ _saldoMonedero }} Bs.S</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                      <i class="fas fa-wallet"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-nowrap">Monedero MoneyUCAB</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Recargas</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h6 class="heading-small text-muted mb-4">Formas de Pago</h6>
                <div class="card card-stats mb-4 mb-xl-3" *ngFor="let card of userTarjetas" (click)="isTarjeta(card.TarjetaID)" [ngClass]="{ 'selected': card.TarjetaID == selectedTarjetaID && _recargarConTarjeta }">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">{{ card.CardNumber }}</h5>
                        <span class="h2 font-weight-bold mb-0">{{ card.Banco }} - {{ card.TipoTarjeta }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                          <i class="fas fa-credit-card"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-nowrap mr-1">Fecha de expiración: </span>
                      <span class="text-danger">{{ card.MesExpiracion }}/{{ card.YearExpiracion }}</span>
                    </p>
                  </div>
                </div>
                <div class="card card-stats mb-4 mb-xl-3" *ngFor="let card of userCuentas" (click)="isCuenta(card.CuentaID)" [ngClass]="{ 'selected': card.CuentaID == selectedCuentaID && _recargarConCuenta }">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">{{ card.NumeroCuenta }}</h5>
                        <span class="h2 font-weight-bold mb-0">{{ card.Banco }} - {{ card.TipoCuenta }}</span>
                      </div>
                      <div class="col-auto">
                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                          <i class="fas fa-university"></i>
                        </div>
                      </div>
                    </div>
                    <p class="mt-3 mb-0 text-muted text-sm">
                      <span class="text-nowrap mr-2">Estado de la cuenta:</span>
                      <span class="text-success">Activa</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <form [formGroup]="recargaFormModel" (submit)="recargarSaldo()">
                  <h6 class="heading-small text-muted mb-4">Formulario de recarga</h6>
                  <div class="pl-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Monto</label>
                      <input type="number" formControlName="Monto" class="form-control form-control-alternative" required>
                    </div>
                    <button type="submit" class="btn btn-success mt-4 float-right" [disabled]="!recargaFormModel.valid || (!_recargarConTarjeta && !_recargarConCuenta)">Guardar</button>            
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Recargas realizadas</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Recargas table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Monto</th>
                  <th scope="col">Referencia</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operacion of userOperaciones">
                  <th scope="row">
                    {{ operacion.Fecha }}
                  </th>
                  <td>
                    <i class="fas fa-arrow-up text-success mr-3"></i> {{ operacion.Monto }} BsS
                  </td>
                  <td>
                    {{ operacion.Referencia }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>