<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row justify-content-center">
        <!-- Saldo Monedero Card -->
        <div class="col-xl-5 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Saldo Disponible</h5>
                  <span class="h2 font-weight-bold mb-0">{{ _saldoMonedero }} Bs.S</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                    <i class="fas fa-wallet"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Monedero MoneyUCAB</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Operaciones por Monedero</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Monedero table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Monto</th>
                <th scope="col">Referencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let operacion of userOperaciones">
                <th scope="row">
                  {{ operacion.Fecha }}
                </th>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> {{ operacion.Monto }} BsS
                </td>
                <td>
                  {{ operacion.Referencia }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Operaciones por Tarjetas</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Tarjetas table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Tarjeta</th>
                <th scope="col">Monto</th>
                <th scope="col">Referencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Operacion of userOperacionesTarjetas">
                <th scope="row">
                  {{ Operacion.Fecha }}
                </th>
                <td>
                  {{ Operacion.TarjetaDescription }}
                </td>
                <td>
                  {{ Operacion.Monto }} BsS
                </td>
                <td>
                  {{ Operacion.Referencia }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Operaciones por Cuentas</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Tarjetas table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Monto</th>
                <th scope="col">Referencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Operacion of userOperacionesCuentas">
                <th scope="row">
                  {{ Operacion.Fecha }}
                </th>
                <td>
                  {{ Operacion.CuentaDescription }}
                </td>
                <td>
                  {{ Operacion.Monto }} BsS
                </td>
                <td>
                  {{ Operacion.Referencia }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
