<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngFor="let card of tarjetas">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card.Titular}}</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let card of cuentas">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card.Titular}}</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Payment Card -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Afiliar billeteras y métodos de pago</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <!-- Afiliar Tarjetas Card -->
            <div class="col-xl-5 col-lg-6">
              <div class="card card-stats add-billetera mb-4 mb-xl-0" (click)="open(paycardModal)">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Tarjeta de Pago</h5>
                      <span class="h2 font-weight-bold mb-0">Afilia una tarjeta de pago</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Afilia una tarjeta de crédito o débito de tu banco local</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Afiliar Cuentas Card -->
            <div class="col-xl-5 col-lg-6">
              <div class="card card-stats add-billetera mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Cuenta Bancaria</h5>
                      <span class="h2 font-weight-bold mb-0">Afilia una cuenta bancaria</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Afilia una cuenta bancaria de tu banco local</span>
                  </p>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #paycardModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nueva tarjeta de pago</h4>
  </div>
  <div class="modal-body">
    <ng-payment-card></ng-payment-card>
  </div>
</ng-template>
