<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row mb-3">
        <div class="col-xl-4 col-lg-6" *ngFor="let card of userTarjetas">
          <div class="tarjeta card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card.CardNumber }}</h5>
                  <span class="h2 font-weight-bold mb-0">CCV: {{ card.CCV }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                    <i class="fas fa-credit-card"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap mr-2">Fecha de expiración: </span>
                <span class="text-danger">{{ card.MesExpiracion }}/{{ card.YearExpiracion }}</span>
                <a class="btn btn-sm btn-danger float-right" (click)="desafiliarTarjeta(card.TarjetaID)">Desafiliar</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6" *ngFor="let card of userCuentas">
          <div class="cuenta card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ card.NumeroCuenta}}</h5>
                  <span class="h2 font-weight-bold mb-0">Cuenta Bancaria</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-university"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap mr-2">Estado de la cuenta:</span>
                <span class="text-success">Activa</span>
                <!-- <a (click)="desafiliarCuenta(card.CuentaID)" class="btn btn-sm btn-danger float-right">Desafiliar</a> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Payment Card -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Afiliar billeteras y métodos de pago</h3>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            <!-- Afiliar Tarjetas Card -->
            <div class="col-xl-5 col-lg-6">
              <div class="card card-stats add-billetera mb-4 mb-xl-0" (click)="open(paycardModal)">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Tarjeta de Pago</h5>
                      <span class="h2 font-weight-bold mb-0">Afilia una tarjeta de pago</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Afilia una tarjeta de crédito o débito de tu banco local</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Afiliar Cuentas Card -->
            <div class="col-xl-5 col-lg-6">
              <div class="card card-stats add-billetera mb-4 mb-xl-0" (click)="open(cuentaModal)">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Cuenta Bancaria</h5>
                      <span class="h2 font-weight-bold mb-0">Afilia una cuenta bancaria</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-purple text-white rounded-circle shadow">
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap">Afilia una cuenta bancaria de tu banco local</span>
                  </p>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #paycardModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Nueva tarjeta de pago</h4>
  </div>
  <div class="modal-body">
    <ng-payment-card (formSaved)="addTarjeta($event)"></ng-payment-card>
  </div>
</ng-template>

<ng-template #cuentaModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nueva cuenta bancaria</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="cuentaFormModel" (submit)="onCuentaSubmit()">
    <div class="modal-body">
      <div class="row">
        <!-- Numero de Cuenta  -->
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label" for="input-numero-cuenta">Número de Cuenta</label>
            <input type="number" formControlName="NumeroCuenta" class="form-control form-control-alternative" required>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Tipo de Cuenta -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-first-name">Tipo de Cuenta</label>
            <select class="form-control" formControlName="TipoCuentaID" required>
              <option *ngFor="let tipoCuenta of tipoCuentasArray" value = "{{ tipoCuenta.TipoCuentaID }}">{{ tipoCuenta.Descripcion }}</option>
            </select>
          </div>
        </div>
        <!-- Banco -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-last-name">Banco</label>
            <select class="form-control" formControlName="BancoID" required>
              <option *ngFor="let banco of bancosArray" value = "{{ banco.BancoID }}">{{ banco.Nombre }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="close()" data-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</ng-template>

