<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-3">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido a MoneyUCAB</h1>
          <p class="text-lead text-light">¡El único monedero virtual universitario del mundo!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Registrarme con</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>O registrarme con credenciales</small>
          </div>
          <form [formGroup]="formModel" role="form" autocomplete="off" (submit)="onSubmit()">
            <!-- UserName -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" formControlName="UserName" placeholder="Username" type="text" required>
              </div>
              <label class="text-danger" *ngIf="formModel.get('UserName').touched && formModel.get('UserName').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Email -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" formControlName="Email" placeholder="Correo electrónico" type="email" required>
              </div>
              <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">Este campo es obligatorio</label>
              <label class="text-danger" *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email">Correo electrónico inválido</label>
            </div>
            <!-- Nombre -->
            <div class="form-group">
              <input class="form-control" formControlName="Nombre" placeholder="Nombre" type="text" required>
              <label class="text-danger" *ngIf="formModel.get('Nombre').touched && formModel.get('Nombre').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Apellido -->
            <div class="form-group">
              <input class="form-control" formControlName="Apellido" placeholder="Apellido" type="text" required>
              <label class="text-danger" *ngIf="formModel.get('Apellido').touched && formModel.get('Apellido').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- TipoIdentificacion -->
            <div class="form-group">
              <select class="form-control" formControlName="TipoIdentificacion" required>
                  <option value = 1>Jurídica</option>
                  <option value = 2>Identificación Extranjera</option>
                  <option value = 3>Identificación Nacionale</option>
                  <option value = 4>Pasaporte</option>
              </select>
              <label class="text-danger" *ngIf="formModel.get('TipoIdentificacion').touched && formModel.get('TipoIdentificacion').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- NumeroIdentificacion -->
            <div class="form-group">                
                <input class="form-control" formControlName="NumeroIdentificacion" placeholder="Número de Identificación" type="number" required>
                <label class="text-danger" *ngIf="formModel.get('NumeroIdentificacion').touched && formModel.get('NumeroIdentificacion').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- EstadoCivil -->
            <div class="form-group">
              <select class="form-control" formControlName="EstadoCivil" required>
                  <option value = 2>Soltero</option>
                  <option value = 1>Casado</option>
              </select>
              <label class="text-danger" *ngIf="formModel.get('EstadoCivil').touched && formModel.get('EstadoCivil').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- FechaNacimiento -->
            <div class="form-group">
              <input class="form-control" formControlName="FechaNacimiento" placeholder="Fecha de Nacimiento" type="date" required>
              <label class="text-danger" *ngIf="formModel.get('FechaNacimiento').touched && formModel.get('FechaNacimiento').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Direccion -->
            <div class="form-group">
                <input class="form-control" formControlName="Direccion" placeholder="Dirección" type="text" required>
                <label class="text-danger" *ngIf="formModel.get('Direccion').touched && formModel.get('Direccion').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Telefono -->
            <div class="form-group">
                <input class="form-control" formControlName="Telefono" placeholder="Teléfono de Contacto" type="number" required>
                <label class="text-danger" *ngIf="formModel.get('Telefono').touched && formModel.get('Telefono').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Comercio -->
            <div class="form-group form-check-inline">
              <label class="mr-4">¿Se está registrando como Comercio?</label>
              <label class="custom-toggle">
                <input type="checkbox" (change)="onCheckBoxChange($event)">
                <span class="custom-toggle-slider rounded-circle"></span>
              </label>
            </div>
            <!-- RazonSocial -->
            <div class="form-group" *ngIf="comercioChecked">
              <input class="form-control" formControlName="RazonSocial" placeholder="Razón Social" type="text">
              <label class="text-danger" *ngIf="formModel.get('RazonSocial').touched && formModel.get('RazonSocial').errors?.required">Este campo es obligatorio</label>
            </div>
            <!-- Passwords -->
            <div formGroupName="Passwords">
              <!-- Password -->
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" formControlName="Password" placeholder="Contraseña" type="password" required>
                </div>
                <label class="text-danger" *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.required">Este campo es obligatorio</label>
                <label class="text-danger" *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.minlength">Debe tener al menos 6 caracteres</label>
              </div>
              <!-- ConfirmPassword -->
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" formControlName="ConfirmPassword" placeholder="Confirmar contraseña" type="password" required>
                </div>
                <label class="text-danger" *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.required">Este campo es obligatorio</label>
                <label class="text-danger" *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Contraseñas no coinciden</label>
              </div>
            </div>
            <div class="text-muted font-italic"><small>Calidad de la contraseña: <span class="text-success font-weight-700">alta</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="politicasCheckbox" type="checkbox" required>
                  <label class="custom-control-label" for="politicasCheckbox">
                    <span class="text-muted">Estoy de acuerdo con las <a href="#!">Políticas de Privacidad</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="!formModel.valid">Crear cuenta</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
