<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">¡Hola {{ _user.persona.nombre }}!</h1>
        <p class="text-white mt-0 mb-5">Esta es tu página de perfil. Aca podrás ver y editar tus datos personales, configurar los parámetros de cuenta y más.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-success float-right">Verificado</a>
          </div>
        </div>
        <div class="card-body mt-5 pt-0 pt-md-4">
          <div class="text-center">
            <h3>
              {{ _user.persona.nombre }} {{ _user.persona.apellido }}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{ _user.result.usuario }}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer Science
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Profile Form Card -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0" *ngIf="_viewDatosPersonalesForm">Datos Personales</h3>
              <h3 class="mb-0" *ngIf="_viewConfigurationsForm">Configuraciones</h3>
            </div>
            <div class="col-8 d-inline text-right">
              <a (click)="onViewUserData()" class="btn btn-sm btn-info">Datos Personales</a>
              <a (click)="onViewConfigurations()" class="btn btn-sm btn-secondary">Configuraciones</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="formModel" (submit)="onSubmit()" *ngIf="_viewDatosPersonalesForm">
            <!-- Información del usuario -->
            <h6 class="heading-small text-muted mb-4">Información del usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <!-- UserName -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Usuario</label>
                    <input type="text" formControlName="UserName" class="form-control form-control-alternative" placeholder="lucky.jesse" required>
                  </div>
                </div>
                <!-- Email -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Correo electrónico</label>
                    <input type="email" formControlName="Email" class="form-control form-control-alternative" placeholder="jesse@example.com" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Nombre -->
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nombre</label>
                    <input type="text" formControlName="Nombre" class="form-control form-control-alternative" placeholder="Jessica" required>
                  </div>
                </div>
                <!-- Apellido -->
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Apellido</label>
                    <input type="text" formControlName="Apellido" class="form-control form-control-alternative" placeholder="James" required>
                  </div>
                </div>
                <!-- Estado Civil -->
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Estado Civil</label>
                    <select class="form-control form-control-alternative" formControlName="EstadoCivilID" required>
                      <option *ngFor="let estadoCivil of estadosCivilesArray" value = "{{ estadoCivil.EstadoCivilID }}">{{ estadoCivil.Descripcion }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Fecha de Nacimiento -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fecha-nacimiento">Fecha de nacimiento</label>
                    <input type="date" formControlName="FechaNacimiento" class="form-control form-control-alternative" placeholder="24/09/1990" required>
                  </div>
                </div>
                <!-- Número de Identificación -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-cedula">Número de identificación</label>
                    <input type="text" formControlName="NumeroIdentificacion" class="form-control form-control-alternative" placeholder="23098783" required>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Información de contacto -->
            <h6 class="heading-small text-muted mb-4">Información de contacto</h6>
            <div class="pl-lg-4">
              <div class="row">
                <!-- Dirección -->
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Dirección</label>
                    <input formControlName="Direccion" class="form-control form-control-alternative" placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text" required>
                  </div>
                </div>
                <!-- Teléfono -->
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-phone-number">Teléfono</label>
                    <input type="number" formControlName="Telefono" class="form-control form-control-alternative" placeholder="4241887553" required>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" *ngIf="_hasComercio"/>
            <!-- Información del comercio -->
            <h6 class="heading-small text-muted mb-4" *ngIf="_hasComercio">Información del comercio</h6>
            <div class="pl-lg-4" *ngIf="_hasComercio">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="form-control-label">Razón social</label>
                    <input formControlName="RazonSocial" class="form-control form-control-alternative" placeholder="Razón social" type="text">
                  </div>
                </div>
              </div>
            </div>
            <!-- Submit button -->
            <div *ngIf="_editingForm">
              <button type="submit" class="btn btn-success mt-4 float-right" [disabled]="!formModel.valid">Guardar</button>            
            </div>
          </form>
          <form [formGroup]="parametroFormModel" (submit)="saveConfigurations()" *ngIf="_viewConfigurationsForm">
            <h6 class="heading-small text-muted mb-4">Establecer un Parámetro</h6>
            <div class="pl-lg-4">
              <div class="row">
                <!-- Parametro -->
                <div class="col-lg-7">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Parametros</label>
                    <select class="form-control form-control-alternative" formControlName="ParametroID" required>
                      <option *ngFor="let parametro of parametrosArray" value = "{{ parametro.ParametroID }}">{{ parametro.Nombre }}</option>
                    </select>
                  </div>
                </div>
                <!-- Validacion -->
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Validación</label>
                    <input type="number" formControlName="Validacion" class="form-control form-control-alternative" required>
                  </div>
                </div>
                <!-- Add button -->
                <div class="col-lg-2">
                  <label class="form-control-label" for="input-last-name">Agregar</label>
                  <button type="submit" class="btn btn-success" [disabled]="!parametroFormModel.valid"><i class="fas fa-plus"></i></button>            
                </div>
              </div>
            </div>
            <h6 class="heading-small text-muted mb-4" *ngIf="_userHasParameters">Mis Parámetros</h6>
            <div class="table-responsive" *ngIf="_userHasParameters">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Parámetro</th>
                    <th scope="col">Validación</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let userParameter of _userParameters">
                    <td>
                      {{ userParameter.infoAdicional.parametro.nombre }}
                    </td>
                    <td class="text-center">
                      {{ userParameter.validacion }}
                    </td>
                    <td>
                      <span class="badge badge-dot mr-4" *ngIf="userParameter.estatus == 1">
                        <i class="bg-success"></i> Activo
                      </span>
                      <span class="badge badge-dot mr-4" *ngIf="userParameter.estatus == 4">
                        <i class="bg-danger"></i> Inactivo
                      </span>
                    </td>
                    <td class="text-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" *ngIf="userParameter.estatus == 1" (click)="establecerParametro(userParameter.infoAdicional.parametro.idParametro, userParameter.validacion, 4)">Inactivar</a>
                          <a class="dropdown-item" *ngIf="userParameter.estatus == 4" (click)="establecerParametro(userParameter.infoAdicional.parametro.idParametro, userParameter.validacion, 1)">Activar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </form>
          <form [formGroup]="passwordsFormModel" (submit)="changePassword()" *ngIf="_viewChangePasswordForm">
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Cambiar contraseña</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <!-- Old Password -->
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Contraseña Actual</label>
                    <input type="password" formControlName="OldPassword" class="form-control form-control-alternative" required>
                  </div>
                  <div formGroupName="NewPasswords">
                    <!-- New Password -->
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Nueva Contraseña</label>
                      <input type="password" formControlName="Password" class="form-control form-control-alternative" required>
                    </div>
                    <!-- Confirm Password -->
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Confirmar Contraseña</label>
                      <input type="password" formControlName="ConfirmPassword" class="form-control form-control-alternative" required>
                    </div>
                    <button type="submit" class="btn btn-success float-right" [disabled]="!passwordsFormModel.valid">Guardar</button>            
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
